.search{position:relative;left:40%;width:330px;}
.pagination{position:relative;left:40%;background:#827F7F;width:210px;padding-top:3px;}
.comp{border-style:solid;border-right:thick thin #000000;width:200px;height:400px;padding:3px;}
.list-group{width:1000px;position:relative;left:20%;top:-420px;}